In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
data = pd.read_csv("500_Person_Gender_Height_Weight_Index.csv")
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [5]:
data.tail()

     Gender  Height  Weight  Index
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

In [6]:
data.describe()

           Height      Weight       Index
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000

In [7]:
from sklearn import svm
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [8]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [9]:
gender = LabelEncoder()
data['Gender'] = gender.fit_transform(data['Gender'])

In [10]:
data.head()

   Gender  Height  Weight  Index
0       1     174      96      4
1       1     189      87      2
2       0     185     110      4
3       0     195     104      3
4       1     149      61      3

In [11]:
bins = (-1,0,1,2,3,4,5)
health = ['malnourished', 'underweight', 'fit', 'slightly overweight', 'overweight', 'extremely overweight']
data['Index'] = pd.cut(data['Index'], bins = bins, labels=health)

In [12]:
data['Index']

0                overweight
1                       fit
2                overweight
3       slightly overweight
4       slightly overweight
5       slightly overweight
6      extremely overweight
7      extremely overweight
8       slightly overweight
9                overweight
10                      fit
11               overweight
12      slightly overweight
13                      fit
14                      fit
15     extremely overweight
16     extremely overweight
17     extremely overweight
18     extremely overweight
19     extremely overweight
20     extremely overweight
21     extremely overweight
22               overweight
23     extremely overweight
24                      fit
25      slightly overweight
26      slightly overweight
27              underweight
28     extremely overweight
29     extremely overweight
               ...
470    extremely overweight
471    extremely overweight
472                     fit
473    extremely overweight
474     slightly overweight
475              overweight
476    extremely overweight
477                     fit
478                     fit
479    extremely overweight
480    extremely overweight
481              overweight
482    extremely overweight
483              overweight
484              overweight
485              overweight
486    extremely overweight
487                     fit
488              overweight
489    extremely overweight
490                     fit
491    extremely overweight
492            malnourished
493             underweight
494    extremely overweight
495    extremely overweight
496              overweight
497    extremely overweight
498    extremely overweight
499    extremely overweight
Name: Index, Length: 500, dtype: category
Categories (6, object): [malnourished < underweight < fit < slightly overweight < overweight < extremely overweight]